$pure-white: #ffffff;
$primary-color: #b9c6d2;
$secondary-color: #d0dde9;
$tertiary-color: #edf0f8;
$accent-color: #ff3e00;
$heading-color: rgba(0, 0, 0, 0.7);
$text-color: #444444;
$background-without-opacity: rgba(255, 255, 255, 0.7);

@each $light in cyan, yellow, gold, lime, skyblue, deepskyblue {
	.#{$light} {
		background: $light;
	}
}
@each $dark in teal, blue, green, red {
	.#{$dark} {
		background: $dark;
		color: #fff;
	}
}
